.container {
}

.category-container {
  display: flex;
  flex-flow: row;


  .individual-category {
    border: 1px solid black;
    text-align: center;
    text-transform: capitalize;
    // padding: 1%;
    margin-top: 2rem;
    font-size: 1.3rem;
    flex-basis: 17%;

    ul {
      padding-left: 0;
    }

    li {
      text-align: center;
      padding: 3%;
      font-size: 4rem;
      list-style-type: none;
      border-top: 1px solid black;

      li:not(last-child) {
        border-bottom: 1px solid black;
      }

    }
  }
}

nav {

  h2 {
    float: right;
    margin-top: 0;
  }
    .score {
        border: 1px solid black;
        width: 20%;
        margin: 0 auto;
        padding: 1%;
    }
}
